<div class="row">
    <div class="col-md-4 pull-right">
        @*@using (Html.BeginForm("", ""))*@
        @* { *@
        <div class="form-group">
            <div class="form-group">
                @*@Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search for movies" })*@
                <input type="text" id="search" class="form-control" placeholder="Search for movie"/>
                <button id="searchBtn" class="btn btn-default">
                    Search <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        @*  }*@
    </div>
</div>
