<div class="row">
    <div class="col-md-4 pull-right">

        <div class="form-group">
            <div class="form-group">
                <input type="text" id="search" class="form-control" placeholder="Search for movie or user or movie genre"/>
                <button id="searchBtn" class="btn btn-default">
                    Search <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </div>
</div>
